<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-12">
            <div class="products-list">
                <div class="table-responsive">
                    <div class="d-flex justify-content-between">
                        <h3>{{{title}}}</h3>
                        <div class="d-flex">
                            <p class="mr-2"><a class="btn btn-secondary" href="profile"><span class="fa fa-chevron-left"></span>&nbspBack to Profile</a></p>
                            <p><a class="btn btn-primary" href="products-brand/create-brand">Create new brand</a></p>
                        </div>
                    </div>
                    <table class="table table-striped table-hover">
                        <thead class="table-dark">
                            <tr><th>№</th><th>Name</th><th></th></tr>
                        </tbody>
                        <tbody>
                        {{#each brands_list}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.brand_name}}</td>
                                <td>
                                    <a class="btn btn-warning" href="products-brand/edit-brand/{{this.id}}">Edit</a>
                                    <form action="products-brand/delete/{{this.id}}" method="POST" style="display:inline;">
                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                    </form>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>